.container {
    background: #eee;
    background-image: linear-gradient(to right, #ff6666, #eee 15%);
    box-shadow: 0 5px 10px 0px #333333; 
    border: 1px solid #c00;
    border-radius:10px ;
    display: flex;
    margin-bottom: 20px;
    padding: 10px;
    position: relative;
    height: auto;
}

.articleImage {
    width: 30%;
    vertical-align: top;
    margin-top: 10px;
    padding-left: 10px;
}

.content {
    display: flex;
    flex-direction: column;
    width: 70%;
}

.article {
    margin-bottom: 30px;
}

.title {
    color: #c00;
    font-size: 2rem;
    margin: .5rem 0;
}

.pubDate {
    font-weight: bold;
    font-size: smaller;
}