.slugButton {
    background: #c00;
    border-radius: 10px;
    color: #ffffff;
    font-size: 1rem;
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: auto;
    padding:7px 45px;
}